body {
  margin: 0 !important;
  padding: 0;
  overflow: hidden;
  ba
}
.container-landing {
  background-image: url("../images/bg.gif");

  background-position: center; /* مرکز چینش */
  background-size: contain;
  height: 100vh;
  margin: 0;
  padding: 0;
}
