body {
  margin: 0 !important;
  padding: 0;
  overflow: hidden;
  background-color: #001830 ;
}
.container-landing {
  background-image:url("../images/bg.jpg");
  background-position: center; 
  background-size: 20%;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
  padding: 0;
}
