body {
  margin: 0 !important;
  padding: 0;
  overflow: hidden;
  background-color: #001830 ;
}
.container-landing {
  background-image:url("../images/bg.jpg");
  background-position: left; 
  background-size: 40%;
  background-position: 10%;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 1200px) {
    .container-landing {
        background-position: center; 
        background-position: left; 
        background-size: 40%;
        background-position: 10%;
    }
  }