


body {
  margin: 0 !important;
  padding: 0;
  overflow: hidden;
  background-color: #001830;
}
.container-landing {
  background-image: url("../images/bg.jpg");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.contain-btn {
    text-align: right;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) translateX(400px);
}
.go-to-weather {
  background-color: aliceblue;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
}
@media screen and (min-width: 1200px) {
  .container-landing {
    background-position: left;
    background-size: 40%;
    background-position: 10%;
  }
}
