body {
  margin: 0 !important;
  padding: 0;
  overflow: hidden;
  background-color: #001830;
}
.container-landing {
  background-image: url("../images/bg.jpg");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.go-to-weather {
  position: absolute;
  top: 50%; /* قرار دادن دکمه در مرکز عمودی */
  left: 50%; /* قرار دادن دکمه در مرکز افقی */
  transform: translate(-50%, -50%) translateX(200px); /* حرکت دکمه به سمت راست 200px */
}

@media screen and (min-width: 1200px) {
  .container-landing {
    background-position: left;
    background-size: 40%;
    background-position: 10%;
  }
}
