body {
  margin: 0 !important;
  padding: 0;
  overflow: hidden;
}
.container-landing {
        background-image: linear-gradient(
          to right,
          rgba(20, 30, 48, 0.1) 0%, /* rgba(20, 30, 48) با اپاسیتی 10% */
          rgba(36, 59, 85, 0.1) 51%, /* rgba(36, 59, 85) با اپاسیتی 10% */
          rgba(20, 30, 48, 0.1) 100% /* rgba(20, 30, 48) با اپاسیتی 10% */
        ), url('../images/bg.gif') 20%;
      
      background-size: cover; /* پوشش کامل صفحه */
      background-position: center; /* مرکز چینش */

  height: 100vh;
  margin: 0;
  padding: 0;
}
